*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1600px;
    height: 808px; 
    margin-bottom:130px;
}
.banner-title{
    color: #151414;
    text-align: right;
    padding: 227px 241px 24px 834px ;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
}
.banner-description{
    color: #444343;
    text-align: right;
    margin: 24px 241px 32px 865px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}
.btn-primary{
    margin: 1px 2px 155px 1199px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
}
    /* failure section  */
.failures{
    display: flex;
    margin:130px 322px 130px 206px ;
}
.failure-description{
    padding: 250px 10px 70px 87px;
}
.failure-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}
.failure-paragraph{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 20px 16px 4px;
}
.failure-types{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 2px 1px;
    padding: 2px 1px;
    line-height:
    
}
.mark-color{
    color: 
    #16D887;
    width: 24px;
    height: 24px;
    margin: 0px 5px 0px 0px;
}