*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1600px;
    height: 808px; 
    margin-bottom:130px;
}
.banner-title{
    color: #151414;
    text-align: right;
    padding: 227px 241px 24px 834px ;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
}
.banner-description{
    color: #444343;
    text-align: right;
    margin: 24px 241px 32px 865px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}
.btn-primary{
    margin: 1px 2px 155px 1199px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 25px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
}
    /* failure section  */
.failures{
    display: flex;
    margin:130px 322px 130px 206px ;
}
.failure-description{
    padding: 250px 10px 70px 87px;
}
.failure-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}
.failure-paragraph{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 20px 16px 4px;
}
.failure-types{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 2px 1px;
    padding: 2px 1px;
    line-height:
    
}
.mark-color{
    color: 
    #16D887;
    width: 24px;
    height: 24px;
    margin: 0px 5px 0px 0px;
}
/*  my plans styles */
.section-title{
    color: #151414;
    font-weight:bold;
    font-size: 40px;
    margin-top: 130px;
    margin-left: 711px;
}
.plan{
    width: 218px;
    height: 197px;
    padding: 0px;
    align-items: center;
}
.plans-container{
    display: flex;
    gap: 86px;
    margin: 50px 20px 50px 300px;
    
}
.plan-title{
    color: #151414;
    font-weight: 700;
    font-size: 22px;
   
}
.plan-description{
    color: #737272
   
}
/* contact me section */
.contact-me{
    width: 1140px;
    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    margin: 130px 230px;
    background-blend-mode: multiply;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
}
.contact-title{
    width: 459px;
    height: 94px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding: 59px 617px 14px 64px ;
}
.btn-contact{
    margin: 20px 916px 60px 64px;
    background: white;
    color: 
    #F15B22;
    font-weight: 600;
    font-size: 20px;
    border:0px;
    padding: 0px 35px 4px 35px;
    height: 62px;
    border-radius: 5px;
   
}